version: '3.4'

services:
  eshopwebmvc:
    image: ${DOCKER_REGISTRY-}eshopwebmvc
    build:
      context: .
      dockerfile: src/Web/Dockerfile
    depends_on:
      - "sqlserver"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__CatalogConnection=Server=sqlserver,1433;Database=Microsoft.eShopOnWeb.CatalogDb;User Id=SA;Password=reallyStrongPwd123;TrustServerCertificate=True
      - ConnectionStrings__IdentityConnection=Server=sqlserver,1433;Database=Microsoft.eShopOnWeb.Identity;User Id=SA;Password=reallyStrongPwd123;TrustServerCertificate=True
  
  eshoppublicapi:
    image: ${DOCKER_REGISTRY-}eshoppublicapi
    build:
      context: .
      dockerfile: src/PublicApi/Dockerfile
    depends_on:
      - "sqlserver"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__CatalogConnection=Server=sqlserver,1433;Database=Microsoft.eShopOnWeb.CatalogDb;User Id={your id};Password={your password};TrustServerCertificate=True
      - ConnectionStrings__IdentityConnection=Server=sqlserver,1433;Database=Microsoft.eShopOnWeb.Identity;User Id={your id};Password={your password};TrustServerCertificate=True

  sqlserver:
    image: mcr.microsoft.com/azure-sql-edge
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD={your password}
